
<!-- FILE REPORT -->
<div class="mid1" id="section-file-report">
  <div class="info-box1">
    <span>
      Report a<br />
      Water Quality<br />
      Issue by:
    </span>
  </div>    
  <script type="text/javascript">
    document.write(addButton('SMS', 'section-file-report-sms'));
    document.write(addButton('Online', 'section-file-report-online'));
    document.write(addButton('Phone', 'section-file-report-phone'));
    document.write(addButton('Mail', 'section-file-report-mail'));
  </script>
</div>

<!-- FILE REPORT > SMS -->  
<div class="mid1" id="section-file-report-sms">
  <div class="info-box1">
    SMS content
  </div>
</div>

<!-- FILE REPORT > ONLINE --> 
<div class="mid1" id="section-file-report-online">
  <div class="info-box1">
    Online content
  </div>
</div>

<!-- FILE REPORT > PHONE -->  
<div class="mid1" id="section-file-report-phone">
  <div class="info-box1">
    Phone content
  </div>
</div>

<!-- FILE REPORT > MAIL --> 
<div class="mid1" id="section-file-report-mail">
  <div class="info-box1">
    Mail content
  </div>
</div>
