<div class="mid1" id="section-resources">
  <div class="text-box1">
    <h1><%= pc 'home.body.title' %></h1>
    <h2><%= pc 'home.subtitle' %></h2>

    <%= c 'home.body' %>

  </div>
</div>

<div class="mid2" style="height: auto">
  <iframe src="http://maps.watervoices.ca/Ushahidi_Web/iframemap" style="border: 0px solid #fff;" border="0" width="100%" height="440px"></iframe>
</div>
