<!-- RESOURCES -->
<div class="mid1" id="section-mission">
  <div class="text-box1">
    <h1><%= pc 'mission.title' %></h1>
    <%= c 'mission.intro' %>
  </div>
</div>

<div class="mid2">
  <%= c 'mission.body' %>
</div>
