<!-- RESOURCES -->
<div class="mid1" id="section-resources">
  <div class="text-box1">
    <h1><%= pc 'resources.title' %></h1>
    <%= c 'resources.intro' %>
  </div>
</div>

<div class="mid2">
  <%= c 'home.body' %>
</div>
