<!-- RESOURCES -->
  <div class="mid1" id="section-resources">
    <div class="text-box1">
      dolor sit amet, consectetur adipiscing elit. Aenean vel nisl leo, ac fringilla est. Maecenas sit amet facilisis magna. Cras posuere quam et dui dignissim malesuada. Donec nisl sem, pulvinar ac 
    </div>
  </div>