<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  
    <title>WaterVoices.ca</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript"> 

      $(document).ready(function() {

        loadSection('File Report', 'section-file-report', true);
      
      var animationSpeed = 300;
      
        $(".tabs li").bind("click", function() {
          $(this).parent().children("li").removeClass("active");
          $(this).addClass("active");
           //parent().children("li").stop().fadeTo(animationSpeed,1);
        });   

      //Top menu button animations
        $(".but1").bind("mouseenter", function() {
          $(this).children(".over").stop().fadeTo(animationSpeed,1);
        });
        
        $(".but1").bind("mouseleave", function() {
          $(this).children(".over").stop().fadeTo(animationSpeed,0);
        });
        
        $(".but1").bind("mousedown", function() {
          $(this).children(".down").stop().fadeTo(0,1);
        });
        
        $(".but1").bind("mouseup", function() {
          $(this).children(".down").stop().fadeTo(animationSpeed,0);
        });
      
      });
      
    //returns html for a top level button
      function addButton(strName, strID) {
        var tH = [];
        
        tH.push("<div class='but1' onclick=\"loadSection('"+strName+"', '"+strID+"', false)\">");
          tH.push("<div class='but1 over' style='display:none;'>");
          
          tH.push("</div>");
          tH.push("<div class='but1 down' style='display:none;'>");
          
          tH.push("</div>");
          
          tH.push("<div class='but1text'>"+strName+"</div>");
          tH.push("<div class='but1icon' style=\"background-image:url('/assets/icon-"+String(strName).toLowerCase()+".png')\"></div>");
        tH.push("</div>");
        
        return tH.join("");
      }
      
      var crumbString = "";
      var currentSection;
      function loadSection(strName, strID, boolClearCrumbs) {
        
        if(currentSection == strID) {
          return false;
        }
        
        if(boolClearCrumbs || strName == "home") {
          crumbString = "<div onclick=\"loadSection('"+strName+"','"+strID+"',"+boolClearCrumbs+");\"><img src='/assets/icon-home.png' /></div>";
        }
        //if(strName != "home") {
          crumbString = crumbString  + "<div onclick=\"loadSection('"+strName+"','"+strID+"',"+boolClearCrumbs+");\">" + strName + " > </div>"
        //};
        
        $("#breadCrumbs").html(crumbString);
        
        $(".mid1").hide();
        $("#"+strID).show();
        currentSection = strID;
      };
      
    </script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main">
      <div class="top">
        <div id="breadCrumbs">File Report</div>
        <ul class="tabs">
          <li class="active" onclick="loadSection('File Report', 'section-file-report', true);"><div class="frontcap"></div>File Report <div class="endcap"></div></li>
          <li onclick="loadSection('Tell Others', 'section-tell-others', true);"> Tell Others<div class="endcap"></div></li>
          <li onclick="loadSection('View Map', 'section-view-map', true);"> View Map<div class="endcap"></div> </li>
          <li onclick="loadSection('Resources', 'section-resources', true);"> Resources<div class="endcap"></div></li>
          <li onclick="loadSection('Mission', 'section-mission', true);"> Mission <div class="endcap"></div></li>
        </ul>
      </div>
      
    <!-- FILE REPORT -->
      <div class="mid1" id="section-file-report">
        <div class="info-box1">
          <span>
            Report a<br />
            Water Quality<br />
            Issue by:
          </span>
        </div>    
        <script type="text/javascript">
          document.write(addButton('SMS', 'section-file-report-sms'));
          document.write(addButton('Online', 'section-file-report-online'));
          document.write(addButton('Phone', 'section-file-report-phone'));
          document.write(addButton('Mail', 'section-file-report-mail'));
        </script>
      </div>
      
    <!-- FILE REPORT > SMS -->  
      <div class="mid1" id="section-file-report-sms">
        <div class="info-box1">
          SMS content
        </div>
      </div>
      
    <!-- FILE REPORT > ONLINE --> 
      <div class="mid1" id="section-file-report-online">
        <div class="info-box1">
          Online content
        </div>
      </div>
      
    <!-- FILE REPORT > PHONE -->  
      <div class="mid1" id="section-file-report-phone">
        <div class="info-box1">
          Phone content
        </div>
      </div>
      
    <!-- FILE REPORT > MAIL --> 
      <div class="mid1" id="section-file-report-mail">
        <div class="info-box1">
          Mail content
        </div>
      </div>
      
    <!-- RESOURCES -->
      <div class="mid1" id="section-resources">
        <div class="text-box1">
          dolor sit amet, consectetur adipiscing elit. Aenean vel nisl leo, ac fringilla est. Maecenas sit amet facilisis magna. Cras posuere quam et dui dignissim malesuada. Donec nisl sem, pulvinar ac 
        </div>
      </div>

    <!-- TELL OTHERS -->
      <div class="mid1" id="section-tell-others">
        <div class="info-box1">
          <span>
            Tell others.<br />
            Be Heard.
          </span>
        </div>    
        <script type="text/javascript">
          document.write(addButton('Twitter', 'twitter'));
          document.write(addButton('Facebook', ''));
          document.write(addButton('Email', ''));
          document.write(addButton('Printables', ''));
        </script>
      </div>
          
          
    <!-- MISSION -->
      <div class="mid1" id="section-mission">
        <div class="text-box1">
          While the government remains committed to addressing water quality issues, WaterVoices remains committed to providing an outlet to spatially and a visually address real-time water concerns. The goal of this website is to provide citizens an outlet to highlight their water challenges and governments a better understanding of the water quality issues.
        </div>  
      </div>
      
      <div class="divider1">
        
      </div>
      <div class="mid2">
        <iframe src="http://watervoices.ca/Ushahidi_Web/iframemap" style="border: 0px solid #fff;" border="0" width="100%" height="100%"></iframe>
      </div>
      <div class="divider2">
        
      </div>
      <div class="mid3">
        <div class="lowerInfoBoxes">
          <div class="lowerInfoBoxesTitle">
            News
          </div>
          <div class="lowerInfoBoxesText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel nisl leo, ac fringilla est. Maecenas sit amet facilisis magna. Cras posuere quam et dui dignissim malesuada. Donec nisl sem, pulvinar ac vulputate a, dapibus vitae lorem. Mauris interdum lacus dictum nunc feugiat eleifend. Curabitur leo elit, rhoncus et ullamcorper quis, molestie non justo. Pellentesque bibendum ipsum nec nunc venenatis egestas. Maecenas ultrices pulvinar fermentum. Quisque in cursus mauris. Vivamus euismod dolor augue, vitae tincidunt erat. Nulla turpis urna, pellentesque id convallis at, ultricies nec risus. Morbi lacinia volutpat dignissim. Duis consequat elementum tempor.
          </div>
        </div>
        <div class="lowerInfoBoxes">
          <div class="lowerInfoBoxesTitle">
            Twitter
          </div>
          <div class="lowerInfoBoxesText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel nisl leo, ac fringilla est. Maecenas sit amet facilisis magna. Cras posuere quam et dui dignissim malesuada. Donec nisl sem, pulvinar ac vulputate a, dapibus vitae lorem. Mauris interdum lacus dictum nunc feugiat eleifend. Curabitur leo elit, rhoncus et ullamcorper quis, molestie non justo. Pellentesque bibendum ipsum nec nunc venenatis egestas. Maecenas ultrices pulvinar fermentum. Quisque in cursus mauris. Vivamus euismod dolor augue, vitae tincidunt erat. Nulla turpis urna, pellentesque id convallis at, ultricies nec risus. Morbi lacinia volutpat dignissim. Duis consequat elementum tempor.
          </div>
        </div>
      </div>
      <div class="divider2">
        
      </div>
      <div class="mid4">
        
      </div>
      <div class="bot">
        
      </div>
    </div>
  </body>
</html>
